<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Contents/images/favicon.ico">

    <!-- third party css -->
    <link href="~/Contents/css/vendor/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="~/Contents/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Contents/css/app-creative.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/Contents/css/app-creative-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
    <script src="https://kit.fontawesome.com/061b36ae1c.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

</head>
<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <!-- LOGO -->
            <a href="index.html" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="~/images/managIA.png" alt="" height="40">
                </span>
                <span class="logo-sm">
                    <img src="~/images/managIA-sm.png" alt="" height="30">
                </span>
            </a>

            <div class="h-100" id="left-side-menu-container" data-simplebar>

                <!--- Sidemenu -->
                <ul class="metismenu side-nav">

                    <li class="side-nav-title side-nav-item">Navigation</li>


                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Contrôle technique FEC </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="apps-ecommerce-products.html">Rapport de synthèse</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-products-details.html">Liste des contrôles & Résultats</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders.html">Uniformisation des journaux</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Notice Explicative Accompagnant le FEC</a>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Contrôle Comptabilité </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="apps-ecommerce-products.html">Rapport de synthèse</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-products-details.html">Ventes / Clients</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders.html">Achats & Acquisitions d'Immo / Fournisseurs</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Comptes Courants Associés</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Compte de l'exploitant</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Comptes d'attente</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Autres Comptes Débiteurs & Créditeurs</a>
                            </li>
                            <li>
                            <li class="side-nav-second-level">
                                <a href="javascript: void(0);">
                                    <span> Contrôle de TVA </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="side-nav-third-level" aria-expanded="false">
                                    <li>
                                        <a href="apps-ecommerce-products.html">Taux implicites de TVA</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-products.html">Anomalies des écritures de TVA</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-products.html">TVA sur Pièces Justificatives manquantes</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-products.html">Déductibilité de TVA sur le Carburant</a>
                                    </li>
                                    <li>
                                        <a href="apps-ecommerce-products.html">Déductibilité de TVA sur Cadeaux offerts</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Factures récurrentes (Abonnements/loyers...)</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Ecritures du journal Report à Nouveau</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Mouvements de trésorerie</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders-details.html">Doublons Autres écritures</a>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Organisation Comptable </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="apps-ecommerce-products.html">Ecritures OD dans le journal BNQ</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-products-details.html">Ecriture bancaire en dehors du journal BNQ</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders.html">Listes des écritures longues</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders.html">Listes des écritures mal affectées</a>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Visualiser les EC </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Tableau de Bord Clients </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Organisation Comptable </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-second-level" aria-expanded="false">
                            <li>
                                <a href="apps-ecommerce-products.html">Rapport de synthèse</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-products-details.html">Indicateurs & Ratios</a>
                            </li>
                            <li>
                                <a href="apps-ecommerce-orders.html">Echéancier des honoraires du Cabinet</a>
                            </li>
                        </ul>
                    </li>

                    <li class="side-nav-title side-nav-item">FAQ</li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Aide </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Contact </span>
                        </a>
                    </li>

                    <li class="side-nav-title side-nav-item">Options</li>

                    <li class="side-nav-item">
                        <a href="javascript: void(0);" class="side-nav-link">
                            <span class="iconify" data-icon="uil-store"></span>
                            <span> Réduire </span>
                        </a>
                    </li>

                </ul>

                <!-- Help Box -->
                <div class="help-box help-box-light text-center">
                    <a href="javascript: void(0);" class="float-right close-btn text-body">
                        <i class="mdi mdi-close"></i>
                    </a>
                    <img src="assets/images/help-icon.svg" height="90" alt="Helper Icon Image" />
                    <h5 class="mt-3">Unlimited Access</h5>
                    <p class="mb-3">Upgrade to plan to get access to unlimited reports</p>
                    <a href="javascript: void(0);" class="btn btn-outline-primary btn-sm">Upgrade</a>
                </div>
                <!-- end Help Box -->
                <!-- End Sidebar -->

                <div class="clearfix"></div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->
        </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- bundle -->
        <script src="~/Scripts/js/vendor.min.js"></script>
        <script src="~/Scripts/js/app.min.js"></script>

        <!-- third party js -->
        <script src="~/Scripts/js/vendor/jquery-ui.min.js"></script>
        <script src="~/Scripts/js/vendor/fullcalendar.min.js"></script>
        <!-- third party js ends -->
        <!-- demo app -->
        <script src="~/Scripts/js/pages/demo.calendar.js"></script>
        <!-- end demo js-->

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/js/site.js" asp-append-version="true"></script>
        <!-- plugin js -->
        <script src="~/Scripts/js/vendor/dropzone.min.js"></script>
        <!-- init js -->
        <script src="~/Scripts/js/ui/component.fileupload.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
